@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;1,200&display=swap');

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #ffa05d;
}

.Botao {
	text-decoration: none;
	background-color: #ffa05d;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	
	
}

.BotaoEd {
	text-decoration: none;
	background-color: #66d9f5;
	padding: 3px 5px 3px 5px;
	color: #fff;
	font-weight: 400;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	
}

.BotaoEx {
	text-decoration: none;
	background-color: #fd3f3f;
	padding: 3px 5px 3px 5px;
	color: #fff;
	font-weight: 400;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	
}

.Caixa {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ffa05d;
	border-radius: 5px;
}

.Caixa1 {
	width: 150px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ffa05d;
	border-radius: 5px;
}

.Caixa2 {
	width: 135px;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #ffa05d;
	border-radius: 5px;
}

.tabela {
	margin: auto;
	margin-top: 30px;
	
}

.tabela th {
	border: 5px solid #fff;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa05d;
	align-items: center;
	color: #fff;
	
}

.tabela tbody {
	border: 5px solid #ddd;
	padding: 5px 10px 5px 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	
}

.tabela td {
	height: 30px;
}

.div {
	height: 90px;
}